Sound-meter-app/android/.gradle/6.5/executionHistory/executionHistory.bin
Sound-meter-app/android/.gradle/6.5/executionHistory/executionHistory.lock
Sound-meter-app/android/.gradle/6.5/fileHashes/fileHashes.bin
Sound-meter-app/android/.gradle/6.5/fileHashes/fileHashes.lock
Sound-meter-app/android/.gradle/6.5/javaCompile/javaCompile.lock
Sound-meter-app/android/.gradle/6.5/javaCompile/classAnalysis.bin
Sound-meter-app/android/.gradle/6.5/javaCompile/taskHistory.bin
Sound-meter-app/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Sound-meter-app/android/.gradle/buildOutputCleanup/outputFiles.bin
Sound-meter-app/android/.idea/gradle.xml
Sound-meter-app/android/.idea/misc.xmlgit